.fb-login {
    margin-bottom: 20px;
}

.social-media-login-btn{
    border-radius: 8px;
    border: 0;
    padding: 10px 40px;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fb-btn{
    background-color:  #3b5998;
    color: white;
}

.social-media-icon{
    background: white;
    color: #3b5998;
    padding: 2px 8px;
    border-radius: 8px;
    margin: 0 10px;
}