
.signup-box{
    padding: 10%;

}

.signup-form{
    padding: 5% 0;
}

.input-field{
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid rgb(127, 129, 129);
    margin: 4% 0;
    width: 100%;
}

.input-field:hover{
    padding: 1vh 0vw;
    background: rgb(242, 245, 245);
}


@media screen and (min-width: 601px) {
    .title-text {
      font-size: 2.5vw;
    }
  }
  
  @media screen and (max-width: 600px) {
    .title-text {
      font-size: 2rem;
    }
  }

  @media screen and (min-width: 601px) {
    .input-field {
      font-size: 20px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .input-field{
      font-size:  16px;
    }
  }